.container{
    width: 100%;
    background-size: cover;
    padding: 40px;
}
.history{
    width: auto;
    border: 5px solid rgb(149, 7, 168);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    height: auto;
}
.history,
h2{
    color: antiquewhite;
    text-align: center;
}
.history,
.sub{
    color: aqua;
    font-family: sans-serif;
}